/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


html {
	font-family: 'Karla', Helvetica, sans-serif;
	}
	
body {
	background-color: white;
	}	
	
.ba-logo img{
	width: 100px;
	float: left;
}

menu {
	padding: 0;
	margin: 1em auto 2em auto;
	width:90%;
}


nav {
	text-align:right;
	overflow: hidden;
	padding: 0;
	color: #2F3566;
	
	}
	
nav ul {
	float: right;
    text-decoration: none;
    list-style: none;
    margin-top: 0;
    }	

	
nav a {

	display: inline-block;
	padding: 10px;
	text-decoration:none;
	color: #2F3566;
	text-transform: uppercase;
	font-size: 14px;
	
	}		

nav a:active {
	font-weight: 700;
	}
	
nav a:hover {
	font-weight: 700;
	}	
	
header {
	text-align: center;
	color: #2F3566;
	font-weight: 700;
	font-size: 30px;
	text-transform: uppercase;
	}
	
.subhead {
	text-align: center;
	color: white;
	text-transform: uppercase;
	margin: -13px auto -40px auto;
	
	}
			
.intro	{
	
	margin:auto;
	position:relative;
	z-index: -1;
	width:100%;

}

#bgimg {
	width:100%;
	height:auto;
	z-index: -1;
	}
	
.introp {
	width: 90%;
	max-width: 1200px;
	margin: auto;
}
	
#intro-text {
	font-family: 'Merriweather', 'Noto Serif', serif;
	font-weight: 300;
	position: absolute;
	width: 50%;
	color: white;
	bottom: 0;
	font-size: 18px;
}	

#pattern {
	position: absolute;
	width: 100%;
	opacity: .8;
}


.textsection {
	max-width: 1200px;
	margin: 4em auto;
	clear: both;
	width:90%;

	overflow:hidden;
	
	}
	
.textsection img {
	width: 100%;
	max-width: 1200px;
	}	

#explanation  {
	max-width: 1200px;
	text-align: left;
	margin-top: 2em;
	
	
	}
	

#explanation p{
	font-family: 'Merriweather', 'Noto Serif', serif;
	width: 48%;
	margin: 0;
	float: right;
	font-size: 18px;
	
	}
	
#explanationimg{	
	width: 50%;
	z-index: -2;
	float: left;
	margin: 0;

	
	}

#insidebox {
	max-width: 1200px;
	text-align: left;
	
	float: left;
	width: 50%;
	}
	

#insidebox h1{	
	color: #2F3566;
	margin: 0;
	font-size: 30px;
	}
	
#insidebox p{
	font-family: 'Merriweather', 'Noto Serif', serif;
	font-size: 18px;
	}
	
#box {
float: right;
width: 50%;
z-index: -2;
}


	
.foodimg {
width: 40%;
z-index: -2;
}	


.foodimg:hover {
opacity: .7;
}

.majicpattern {
	width: 100%;
	
	
	}

#bluepattern {
	opacity: .3;
	width: 100%;
	z-index: -10;
	position: absolute;
	}	
	
	
.guide {max-width: 1200px;
	margin: 4em auto;
	clear: both;
	width:90%;
	
	overflow:hidden;
	}
	
.majic {
	width: 50%;

	
}	

.majic p {
	font-family: 'Merriweather', 'Noto Serif', serif;
	font-size: 18px;
	}
	
.majic img {
	width: 100%;
	}	

.majic h1 {
	color: #2F3566;
	}


.boxtext p{
	border: 1px solid #2F3566;
	font-family: 'Karla', sans-serif;
	color: #2F3566;
	padding: 2px;
	width: 15%;
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
	
	
	}
	
.bottomsection {
	max-width: 1200px;
	margin: 4em auto 4em auto;
	display: block;
	clear: both;
	}	
	
hr {	
	border-width: 2px;
	color: #2F3566;
	margin: 20px auto;
	}
	
.button {
	margin: auto;
	width: 200px;
	background-color:  #2F3566;
	color: white;
	text-transform: uppercase;
	text-align: center;
	padding: 10px;
	}
	
.button a{
	text-decoration: none;
	color: white;
	font-size: 24px;
	}	

.bottomnav {
	
	margin: auto;
	text-align: left;
	float: left;
	
}

.bottomnav a {
	color: #989898; 
	font-size: 12px;
	}
	
.bottomnav a:hover {
	font-style: inherit;
	}
	
.social img{
	float: right;
	width: 15%;
	}	
	
	
	/* ==========================================================================
 explore
   ========================================================================== */

	
	#map {
	width: 100%;
	}
		
	.thaiheader {
	text-align: center;
	}
		
	.thaiheader p{
	font-family: 'Merriweather', 'Noto Serif', serif;
	margin-bottom: 0;
	}
	
	.thaiheader h1{
	color: #2F3566;
	margin-top: 0;
	}
	


.mobile-view {display: none;}
.mobile-nav {display: none;}

@media only screen and (max-width: 1200px) {
	
	.intro	{
	width: 90%;
	}
	
	.textsection {
	width: 90%;
	}
	
	.textsection  img{
	width: 100%;
	}
	
	#insidebox {
	width: 90%
	}
	
	.bottomsection {
	width: 90%
	}
	
	.mobile-view {display: inline-block;
		width: 100%
	
	.nav-button {
    float: right;
    width: 40px;
    padding: 10px;
    display: block;
    }
    
    .subhead {
	width: 90%;}
	
	.big-nav {
	display: none;
	}
	
	.mobile-nav {
	display: none;
	background: #e5e5e5;
	text-decoration: none;
	padding: 0;
	}
	
	.mobile-nav li a{
	color: black;
	text-decoration: none;
	text-align: right;
		}
		
	.mobile-nav li a:hover{		
	background-color: #BCF57E;}
		
	.mobile-nav li {
	list-style: none;
    text-align: center;
    padding: 15px;
    border-top: 1px solid white;}
    
    .story-box{
    width:100%;
    }
    
    .story-box-b{
    width:100%;
    }
    
  }  


@media only screen and (max-width: 800px) {

.alien-gifs img {
	max-width: 300px;
	}


}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
