/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


html {
	font-family: 'Karla', Helvetica, sans-serif;
	}
	
body {
	background-color: white;
	}	
	
.ba-logo img{
	width: 120px;
	float: left;
}

menu {
	padding: 0;
	margin: 1em auto 2em auto;
	width:90%;
	overflow: hidden;
}


.big-nav {
	text-align:right;
	overflow: hidden;
	padding: 0;
	color: #1C2673;
	}
	
.big-nav ul {
	float: right;
    text-decoration: none;
    list-style: none;
    margin-top: 0;
    }	

	
.big-nav a {

	display: inline-block;
	padding: 12px;
	text-decoration:none;
	color: #1C2673;
	text-transform: uppercase;
	font-size: 14px;
	
	}		


	
nav a:hover {

	border: 1px solid #1C2673;
	}	
	
header {
	text-align: center;
	color: #1C2673;
	font-weight: 700;
	font-size: 30px;
	text-transform: uppercase;
	}
	
.subhead {
	text-align: center;
	color: white;
	text-transform: uppercase;
	margin: -13px auto -40px auto;
	
	}
			
.intro	{
	
	margin:auto;
	position:relative;
	z-index: -1;
	width:100%;
	max-width: 1200px;

}

#bgimg {
	width:100%;
	height:auto;
	z-index: -1;
	}
	
.introp {
	width: 90%;
	max-width: 1200px;
	margin: auto;
}
	
#intro-text {
	font-family: 'Merriweather', 'Noto Serif', serif;
	font-weight: 300;
	position: absolute;
	width: 50%;
	color: white;
	bottom: 0;
	font-size: 18px;
}	

#pattern {
	position: absolute;
	width: 100%;
	opacity: .8;
}


.textsection {
	max-width: 1200px;
	margin: 4em auto;
	clear: both;
	width:90%;

	overflow:hidden;
	
	}
	
.textsection img {
	width: 100%;
	max-width: 1200px;
	}	

#explanation  {
	max-width: 1200px;
	text-align: left;
	margin-top: 2em;
	
	
	}
	

#explanation p{
	font-family: 'Merriweather', 'Noto Serif', serif;
	width: 48%;
	margin: 0;
	float: right;
	font-size: 18px;
	
	}
	
#explanationimg{	
	width: 50%;
	z-index: -2;
	float: left;
	margin: 0;

	
	}

#insidebox {
	max-width: 1200px;
	text-align: left;
	
	float: left;
	width: 50%;
	}
	

#insidebox h1{	
	color: #1C2673;
	margin: 0;
	font-size: 30px;
	}
	
#insidebox p{
	font-family: 'Merriweather', 'Noto Serif', serif;
	font-size: 18px;
	}
	
#box {
float: right;
width: 50%;
margin: 0 auto;
z-index: -2;
}

#box img {
width: 60% !important;
margin: 0 auto;
display: block;
}

	
#ingredients {
margin-top: 7em;
z-index: -100;
position: absolute;
width: 55%;
opacity: .9;
}	
.foodimg {
width: 40%;
z-index: -2;
}	





.foodimg:hover {
opacity: .7;
}

.newregions h1{
	text-align: center;
	color: #1C2673;
}

.regions {
	width: 33%;
	float: left;
	text-align: center;
	font-family: 'Merriweather', 'Noto Serif', serif;
	font-size: 18px;
	padding-left: 0;
	
}


.regions li {
	list-style: none;
	padding: 20px;
	}




.boxtext p{
	border: 1px solid #1C2673;
	font-family: 'Karla', sans-serif;
	color: #253698;
	padding: 2px;
	width: 15%;
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
	
	
	}
	
.bottomsection {
	max-width: 1200px;
	margin: 4em auto 2em auto;
	display: block;
	clear: both;
	width: 100%
	}	
	
hr {	
	border-width: 2px;
	color: #1C2673;
	margin: 20px auto;
	}
	
.button {
	margin: 0 auto 4em auto;
	width: 200px;
	background-color:  #1C2673;
	color: white;
	text-transform: uppercase;
	text-align: center;
	padding: 10px;
	}
	
	
	
.button a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-weight: 400;
	}	
	
.signupbutton {
	margin: 0 auto 4em auto;

	width: 300px;
	color: white;
	text-transform: uppercase;
	text-align: center;
	
	}	



.signupbutton a:hover{
	color:  #1C2673;

	
	background-color: white;
	border: 1px solid #1C2673;
	}
	
	
.signupbutton a{	
	text-decoration: none;
	color: white;
	font-size: 16px;
	font-weight: 400;
	display: block;
	padding: 12px;
	background-color:  #1C2673;
	}	
	
.signups {
	float: left;
	width: 50%;
	margin-top: 2em;
	}	
	
.bottomnav {
	
	margin: auto;
	text-align: left;
	float: left;
	
}

.bottomnav a {
	color: #989898; 
	font-size: 12px;
	text-decoration: none;
	padding: 12px;
	text-transform: uppercase;
	}
	
.bottomnav a:hover {
	font-style: inherit;
	border: none;
	}
	
.social img{
	float: right;
	width: 15%;
	}	
	
	
	/* ==========================================================================
 explore
   ========================================================================== */

	.exploreintro {
	max-width: 1000px;
	margin: 0 auto 2em auto;
	text-align: center;
	}
	#map {
	width: 100%;

	}
		
	.thaiheader {
	text-align: center;
	}
		
	.thaiheader p{
	font-family: 'Merriweather', 'Noto Serif', serif;
	margin-bottom: 0;
	}
	
	.thaiheader h1{
	color: #1C2673;
	margin-top: 0;
	}
	
.majicpattern {
	width: 100%;
	
	
	}


.imageset {
	width: 100%;
	margin: 2em auto;
	clear:both;
	max-width: 1200px;
	overflow: hidden;
	}	
	
	
.foodimage1 {
	width: 50%;
	z-index: 10;
	float: left
	
	}
	
.foodimage1 img {
	width: 30%;
	margin-left: 16em;
		z-index: 10;
		position: absolute;
		animation-delay: 1s;
	
	}
	
	.thaipictures {
	width: 50%;
	float: right;
	}	
	
	
	
	
#thaipic1 {

	width: 100%;
	padding: 2%;

	}
		
.foodimage {
	width: 50%;
	z-index: 10;
	float: right
	
	}
	

		
.foodimage img {
	width: 30%;
	margin: -2em 0 0 -5em ;
		z-index: 10;
		position: absolute;
		animation-delay: 1s;
	}	
	

	
.thaivideo	{
	width: 50%;
	float: left;
	

	}
	
	.foodimage2 {
	width: 50%;
	z-index: 10;
	float: left
	
	}
	
.foodimage2 img {
	width: 25%;
	margin:-2em 0 0 5em;
		z-index: 10;
		position: absolute;
		animation-delay: 1s;
	
	}
	
	.thaipictures {
	width: 50%;
	float: right;
	}	
	
	

	
.imageset2 {
	width: 100%;
	margin: 4em auto;
	clear:both;
	max-width: 1200px;
	overflow: hidden;
	}	
	

	
.thaipictures2 {
	width: 50%;
	float: left;
	}	
		

#thaipic2 {

	width: 100%;
	padding: 2%;
	
	}	


#bluepattern {
	opacity: .3;
	width: 100%;
	z-index: -100;
	position: absolute;
	}	
	
	
.dishes {
	max-width: 1200px;
	margin: 0;
	clear: both;
	width:100%;
	
	overflow:hidden;
	}

.dishpic {
	width: 24%;
	    float: left;
    height: auto;
    display: inline-block;
    cursor: pointer;
    border: 2px solid #fbfbfb;
    position: relative;
}


span.image-title {
  	background-color: #1C2673;
  	color: white;
  	text-align: center;
  	cursor: pointer;
  	display: table;
  	height: 100%;
 	left: 0;
  	position: absolute;
  	bottom: -1px;
  	width: 100%;
   	opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
	.image-title span {
	  display: table-cell;
	  text-align: center;
	  vertical-align: middle;
	  height: 100%;
	  font-weight: 400;
	  font-size: 20px;
	  padding: 1em;
	  margin: auto;
	 
	 	
	 
	}

.mobilelabel {
	display:none;
	}
.dishpic a {
    width: 100%;
    display: block;
}
ul.img-list li:hover span.text-content {
  opacity: 1;
}

.dishpic a:hover span.image-title {
  opacity: 1;
}

.dishpic a:hover{
	background-color: #fbfbfb;
}


.dishpic1:hover {

	}
	
.guide {max-width: 1200px;
	margin: 4em auto;
	clear: both;
	width:90%;
	
	overflow:hidden;
	}
	
.majic {
	width: 50%;

	
}	

.majic p {
	font-family: 'Merriweather', 'Noto Serif', serif;
	font-size: 18px;
	}
	
.majic img {
	width: 100%;
	}	

.majic h1 {
	color: #1C2673;
	}
	
.featureimg {
	float: left;
	width: 50%;
}	

.feature {
	width:50%;
	float: right;
	}	
.feature  h1 {
	color: #1C2673;
	}
		
.feature p {
	font-family: 'Merriweather', 'Noto Serif', serif;
	font-size: 18px;
	}	
	
	
.learnmore a{
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	
	color: #1C2673;
	}	
	
.learnmore {	
text-align: center;

}
	
.disclaimer {
	font-size: 12px;
	color: gray;
	width: 100%;
	max-width: 1200px;
	padding: 10px;
	margin: auto;
	
	clear: both;
	}

	/* ==========================================================================
order
   ========================================================================== */
   
  .boxgif {
  	width: 100%;
  	text-align: center;
  	}
  
  #boxgif {
  	width: 30%;
  	}	
  	
  	.ordertext {
  		font-family: 'Merriweather', 'Noto Serif', serif;
	font-size: 18px;
	text-align: center;
	}
	
.social {
padding-right: 12px;
}	
  	
  	 
   
   
.nav-button {display: none;}
.mobile-nav {display: none;}

@media only screen and (max-width: 1000px) {
	
	.intro	{
	width: 90%;
	}
	
	.textsection {
	width: 90%;
	}
	
	.textsection  img{
	width: 100%;
	}
	
	#insidebox {
	width: 90%
	}
	
	
    
    
.nav-button {display: none;}
.mobile-nav {display: none;}
    
  }  


@media only screen and (max-width: 750px) {

	.mobilelabel {
		display: block;
		font-weight: 700;
		color: #1C2673;
		font-size:20px;
		}
	header {
	font-size: 24px;
	
	}
	
	.textsection {
	margin: 2em auto;
	}
	
	.nav-button {
   display: block;
   float: right;
   margin: 1em 0 1em 0;
	padding: 12px;
	text-decoration:none;
	color: #1C2673;
	background-color: white;
	text-transform: uppercase;
	font-size: 14px;
	border: 1px solid #1C2673;
    }
    
    .nav-button a {
    text-decoration: none;
    color: #1C2673;
    }
    
  
	.big-nav {
	display: none;
	}
	
	.mobile-nav {
	
	background-color: white;
	border-bottom: 1px solid #1C2673;
	padding: 20px auto;
	clear: both;

	text-align: right;
	
	
	}
	
	.mobile-nav li{
		list-style: none;
		padding: 12px;
		
		}
		
	.mobile-nav a {
		text-decoration: none;
		color: #1C2673;
		font-size: 14px;
		
		text-transform: uppercase;
			
		}	
	
	
#intro-text {
	width: 100%;
	color: black;
	position: relative;
	margin-top: 2em;
	font-weight: 400;
	font-size: 16px;
	}
	
.introp{
	margin:0;
	width: 100%;
	}	
	
.thaipictures2 {
	width: 100%;
	}	
	
	
.thaipictures{
	width: 100%;
	}
	
.thaivideo{
	width: 100%;
	}
	
.boxtext p{
width: 90%;
margin: 2em auto;
	font-size: 14px;

}



.boxtext {
	margin: auto;
	text-align: center;
	}

#insidebox {
	width: 100%;

	}
	
#insidebox p {
	font-size: 16px;
		}	

#box {
	width: 100%;
	}		

#explanationimg {

	width: 100%;
	}				
	
#explanation p{
margin-top: 2em;
width: 100%;
font-size: 16px;
	}
	
#explanation {
margin: 0;
}		
	
.dishes, .majic, .feature {
	width: 100%;
	}	

.dishes p, .majic p, .feature p{
font-size: 16px;
	}	
.majicpattern {
	width: 100%;
	}
		
.regions li {
	font-size: 14px;
	padding: 5px;
	}		
	
.featureimg {
	width: 100%;
	}
	
.dishpic	{
	width: 100%;
	text-align: center;
	}
	 	
.social img {
	width: 30%;
	margin: auto;
	float: none;
	}
	
.social {
	width: 100%;
	text-align: center;
	margin: 10px auto;
	
	}
.bottomnav{
	text-align: center;
	width: 100%;
		margin: auto;
			float: none;
	}	
	
.disclaimer {
	width 100%;
	text-align: center;
	}	
	
h1 {
font-size:1.5em;
}	

}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
